body {
    font-family: sans-serif;
}
p img{
    width:1000px ;
    height:600px ;
    text-align: center;
}

img{
    margin: 30px;
}
header{
    background-color: #ffff00;
    padding: 20px;
    margin: 30px;
}
.cvc{
    background-color: 	#008080;
}
.eee{
     background-color: 	#008080;
}

